<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/styles/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
    <div class="header-wrapper">
        <div class="header">
            <div class="logo"></div>
            <input type="search" placeholder="Ieškoti..." name="mainName" id="mainName">
            <div class="button-line">
                
                <div class="button"><a href="" class="button-url">HTML</a></div>
                <div class="button"><a href="" class="button-url">CSS</a></div>
                <div class="button"><a href="" class="button-url">JavaScript</a></div>
                <div class="button"><a href="" class="button-url">C#</a></div>
                <div class="button"><a href="" class="button-url">Java</a></div>
                <div class="button"><a href="" class="button-url">SQL</a></div>
                <div class="button"><a href="" class="button-url">Spring Boot</a></div>
                <div class="button"><a href="" class="button-url">.NET</a></div>
            </div>
        </div>
        <div class="main-wrapper">
            <div class="topics-sidebar">
                <div class="topic-group">
                    <h4 class="topic-group-header">Topic group. Header of a group of topics.</h4>
                    <ul class="group-topics-list">
                        <li class="topic-item">Lecture 1</li>
                        <li>Another lecture</li>
                        <li>Last group lecture</li>
                    </ul>
                    
                </div>
            </div>
            <div class="article"></div>
            <div class="article-sidebar"></div>

        </div>
    </div>
    
</body>
</html>