<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/styles/styles.css">
</head>
<body>
    <div class="header-wrapper">
        <div class="header">
            <div class="logo"></div>
            <input type="search" placeholder="Ieškoti..." name="mainName" id="mainName">
            <div class="button-line">
                
                <div class="button"><a href="" class="button-url">HTML</a></div>
                <div class="button"><a href="" class="button-url">CSS</a></div>
                <div class="button"><a href="" class="button-url">JavaScript</a></div>
                <div class="button"><a href="" class="button-url">C#</a></div>
                <div class="button"><a href="" class="button-url">Java</a></div>
                <div class="button"><a href="" class="button-url">SQL</a></div>
                <div class="button"><a href="" class="button-url">Spring Boot</a> Boot</div>
                <div class="button"><a href="" class="button-url">.NET</a></div>
            </div>
        </div>
    </div>
    
</body>
</html>