* {
    box-sizing: border-box;
}

/*------------------ HEADERIO STILIAI ----------------------*/

.header {
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    padding: 0.25rem;
    gap: 0.25rem;
}

.logo {
    height: 3rem;
    width: 100px;
    background-color: aquamarine;
}

.button-line {
    display: flex;
}

.button {
    border: 1px solid grey;
}

.button-url {
    padding: 0.5em;
}

/*----------------- MAIN DALIES DIDESNIŲ DALIŲ STILIAI-----------*/
.main {
    display: flex;
}

.topics-sidebar {
    flex-basis: 20%;
}